header {
	background-color: blue;
}

.links {
	text-decoration: none;
	color: #FFFFFF;
}

li {
	display: inline-block;
	margin: 5px 10px 5px 10px;
}

#login {
	margin-left: 300px
}

body {
	background-color: #F0F8FF;
}

hr {
	margin-top: 550px;
}