header {
	background-color: blue;
}

li {
	display: inline-block;
	margin: 5px 10px 5px 10px;
}

#login {
	float: right;
}

body {
	background-color: #F0F8FF;
}

hr {
	margin-top: 550px;
}

fieldset {
	border: 0;
	margin-top: 50px;
}

legend {
	font-weight: bold;
}

a:visited, a:link, a:active, a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
