header {
	background-color: blue;
}

li.li1 {
	display: inline-block;
	margin: 5px 10px 5px 10px;
}

#login {
	float: right;
}

body {
	background-color: #F0F8FF;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}


fieldset {
	border: 0;
	margin-top: 50px;
}

legend {
	font-weight: bold;
}

a.list1:visited, a.list1:link {
	color: #FFFFFF;
	text-decoration: none;
}

a.list1:hover, a.current:link, a.current:visited {
	background-color: #FFFFFF;
	color: blue;
}


